# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=

# Server
ENV_ConnectionStrings__Postgres=
# OpenSearch
ENV_OpenSearch__Url=
ENV_OpenSearch__Username=
ENV_OpenSearch__Password=
# Hangfire
ENV_Hangfire__ConnectionString=
ENV_Hangfire__CveSnapshotDownloadJobCron=
ENV_Hangfire__BduSnapshotDownloadJobCron=
ENV_Hangfire__VulnerabilityScanReportJobCron=
# JWT
ENV_Jwt__Key=
ENV_Jwt__AccessTokenLifetimeInMinutes=
# PDF Generation
ENV_Pdf__FrontendAgentPageUrl=
# Storage
ENV_Storage__BasePath=
ENV_Storage__ReportsPath=